<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header " style="background-color: rgb(64, 21, 112); ">
              <h3 class="card-title" style="color: white;">Frequently Asked Questions</h3>
              <!-- <p class="card-category">Handcrafted by our friend
                  <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
                  <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
              </p> -->
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-3"></div>
                  <div class="col-md-6">
                     
                      <div class="alert" style="background-color: navy;color: white;">
                          <span>How long does a generated OTP last?</span>
                      </div>
                      <div class="alert alert-success" style="background-color: rgb(43, 46, 255);color: white;">
                        <span>3 minutes</span>
                      </div>
                      <div class="alert alert-info" style="background-color: navy;color: white;">
                          <span>How many attempts are allowed to generate an OTP ?</span>
                      </div>
                      <div class="alert alert-success" style="background-color: rgb(43, 46, 255);color: white;">
                        <span>3 attempts</span>
                      </div>
                      <div class="alert alert-info" data-notify="container" style="background-color: navy;color: white;">
                          <span>I have lost my key what should i do ?</span>
                      </div>
                      <div class="alert alert-success" style="background-color: rgb(43, 46, 255);color: white;">
                        <span>Please visit the relevent organization and claim a new key.</span>
                      </div>
                      <div class="alert alert-info" data-notify="container" style="background-color: navy;color: white;">
                          <span>I have lost access to me e-mail address what should i do ?</span>
                      </div>
                      <div class="alert alert-success" style="background-color: rgb(43, 46, 255);color: white;">
                        <span>Please visit the relevent organization and setup a new e-mail address.</span>
                      </div>
                      <div class="alert alert-info" data-notify="container" style="background-color: navy;color: white;">
                        <span>I am not receiving an e-mail with an image?</span>
                      </div>
                      <div class="alert alert-success" style="background-color: rgb(43, 46, 255);color: white;">
                        <span>Please try refeshing the inbox or else contact the organization.</span>
                      </div>
                  </div>
                  <div class="col-md-3"></div>
              </div>
          </div>
          
      </div>
  </div>
</div>
